@layer base {
  body {
    min-height: 100%;
  }
  html {
    height: 100%;
    overflow: hidden scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--lightest) var(--darkest);
    background-color: var(--bg-1);
    background-image: var(--canvas);
    background-attachment: fixed;
    color: var(--fg-1);
  }

  a {
    color: var(--link);
    display: inline-block;
    text-decoration-style: dotted;
  }

  a:visited {
    color: var(--link-visit);
  }

  a[href]:hover,
  a[href]:focus-visible {
    background-color: var(--link-box);
  }

  a[href][aria-current="page"] {
    text-decoration-style: solid;
  }

  a:not([href]) {
    cursor: not-allowed;
    text-decoration: line-through;
  }

  small {
    color: var(--fg-3);
  }

  code,
  var,
  samp,
  blockquote {
    background-color: var(--bg-3);
  }

  kbd {
    background-color: var(--darkish);
    border: 1px solid var(--fg-1);
    border-radius: var(--round-1);
    box-shadow:
      0 1px 1px var(--darkest),
      0 2px 0 0 var(--lightish) inset;

    padding: 2px 4px;
  }

  blockquote {
    border-left: 10px solid var(--bg-4);
  }

  hr {
    border-color: var(--bg-4);
  }
}
