---
import Page from "$layout/Page.astro";
import PostContent from "$part/PostContent.astro";
import PostList from "$part/PostList.astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const topic = await getCollection("topic");
  return topic.map((topic) => ({
    params: { id: topic.id },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const { post } = topic.data;
const postReference = await getEntry(post);
const { title, description } = postReference.data;

const topicPosts = await getCollection("post", (post) =>
  post.data.topics.find((otherTopic) => otherTopic.id === topic.id),
);
---

<Page name={title} {description}>
  <PostContent post={postReference} />
  <br />
  <h3>Posts with this topic:</h3>
  <br />
  <PostList posts={topicPosts} />
</Page>
