---
import Page from "$layout/Page.astro";
import { getCollection } from "astro:content";

const topics = (await getCollection("topic")).sort((a, b) =>
  a.id.localeCompare(b.id),
);
---

<Page name="All Topics" description="View all post topics from thegatesdev">
  <h1>All Topics</h1>
  <br />
  <ul>
    {
      topics.map((topic) => (
        <li>
          <a href={`/topics/${topic.id}`}>{topic.id}</a>
        </li>
      ))
    }
  </ul>
</Page>
