---
import Home from "@layouts/Home.astro";
---

<Home>
  <h1 class="title">Articles</h1>
  <a href="" class="card big wide">
    <article>
      <h1>About me</h1>
      <p>Description about me thing thing</p>
    </article>
  </a>
  <a href="" class="card big wide">
    <article>
      <h1>About me</h1>
      <p>Description about me thing thing</p>
    </article>
  </a>
</Home>
