---
import Home from "@layouts/Home.astro";
---

<Home>
  <h1 class="title">Articles</h1>
  <a href="" class="card big wide">
    <article class="stack">
      <h1>About me</h1>
      <small class="stack-row gap">
        <p>Created: Today</p>
        <p>Updated: Today</p>
      </small>
      <p>Description about me thing thing</p>
    </article>
  </a>
</Home>
