---
interface Props {
  globalTitle: string;
  description: string;
}

const { globalTitle, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{globalTitle}</title>
<meta name="description" content={description}>
<meta name="application-name" content="thegates.dev" />
<meta name="author" content="thegatesdev" />
