---
import NavGlobal from "./NavGlobal.astro";
import NameTag from "./NameTag.astro";
import LinksGlobal from "./LinksGlobal.astro";
---

<header class="header-global">
  <div class="push-center">
    <a class="header-global-title" href="/"><NameTag /></a>
  </div>
  <nav>
    <NavGlobal />
  </nav>
  <div class="push-center">
    <div class="header-global-right">
      <LinksGlobal />
    </div>
  </div>
</header>
