---
import IconGithub from '$icon/github.svg';
import IconYouTube from '$icon/youtube.svg';
---

<ul class="links-global" role="list">
  <li>
    <a href="#"><IconGithub /></a>
  </li>
  <li>
    <a href="#"><IconYouTube /></a>
  </li>
</ul>
