---
import IconGithub from '$icon/github.svg';
import IconYouTube from '$icon/youtube.svg';
---

<ul class="links-global" role="list">
  <li>
    <a href="https://github.com/thegatesdev"><IconGithub /></a>
  </li>
  <li>
    <a href="https://www.youtube.com/@thegatesdev"><IconYouTube /></a>
  </li>
</ul>
