---
import Base from "$layout/Base.astro";
import Header from "$part/Header.astro";
import PostMeta from "$part/PostMeta.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, description } = post.data;
const { Content } = await render(post);
---

<Base class="page-post" name={title} {description}>
  <Header />
  <main>
    <header>
      <h1>{title}</h1>
      <PostMeta {post} />
    </header>
    <div class="page-post-content">
      <Content />
    </div>
  </main>
  <footer></footer>
</Base>

<style is:global>
  .page-post {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
  }
  .page-post main {
    margin-top: var(--space-section-2);
  }
  .page-post-content {
    margin-top: var(--space-section-3);
    display: flex;
    flex-direction: column;
    gap: var(--space-section-1);
  }
</style>
