---
import Page from "$layout/Page.astro";
import PostMeta from "$part/PostMeta.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, description } = post.data;
const { Content } = await render(post);
---

<Page name={title} {description}>
  <header>
    <h1>{title}</h1>
    <PostMeta {post} />
  </header>
  <div class="page-post-content">
    <Content />
  </div>
</Page>

<style is:global>
  .page-post-content {
    margin-top: var(--space-section-3);
    display: flex;
    flex-direction: column;
    gap: var(--space-section-1);
  }
</style>
