---
import Page from "$layout/Page.astro";
import PostList from "$part/PostList.astro";
import { getCollection } from "astro:content";
import { viewPostFilter, viewPostSort } from "src/content.lib";

const posts = (await getCollection("post"))
  .filter(viewPostFilter)
  .sort(viewPostSort);
---

<Page name="All Posts" description="View all posts by thegatesdev">
  <h2>Featured</h2>
  <br />
  <PostList {posts} />
</Page>
