---
import Page from "$layout/Page.astro";
import PostList from "$part/PostList.astro";
import {
  getViewablePosts,
  sortPostsByFeatured,
  sortPostsByPublished,
  splitFeaturedNormalPosts,
} from "src/content.lib";

const [featured, normal] = splitFeaturedNormalPosts(await getViewablePosts());
featured.sort(sortPostsByFeatured);
normal.sort(sortPostsByPublished);
---

<Page name="All Posts" description="View all posts by thegatesdev">
  <h3>&#10024;Featured</h3>
  <PostList posts={featured} />
  <h3>Recent</h3>
  <PostList posts={normal} />
</Page>
