---
import NavLink from "$comp/NavLink.astro";
---

<nav class="navigation">
  <ol class="navigation-list" role="list">
    <NavLink href="/posts/home">Home</NavLink>
    <NavLink href="/posts">All Posts</NavLink>
    <NavLink href="/tags">All Tags</NavLink>
    <br />
    <NavLink href="/tags/about">#about</NavLink>
    <NavLink href="/tags/blog">#blog</NavLink>
    <NavLink href="/tags/art">#art</NavLink>
  </ol>
</nav>

<style is:global>
  .navigation-list {
    text-align: right;
    min-width: max-content;
  }
</style>
