---
import NavLink from "$comp/NavLink.astro";
---

<nav class="navigation">
  <ol class="navigation-list" role="list">
    <NavLink href="/posts/home">Home</NavLink>
    <NavLink href="/posts">All Posts</NavLink>
    <NavLink href="/topics">All Topics</NavLink>
    <br>

  </ol>
</nav>

<style is:global>
  .navigation-list {
    text-align: right;
    min-width: max-content;
  }
</style>
