<nav class="navigation">
  <ol class="navigation-list" role="list">
    <li><a href="/posts/home">Home</a></li>
    <li><a href="/posts">All Posts</a></li>
    <li><a href="/topics/blog">Blog</a></li>
  </ol>
</nav>

<style is:global>
  .navigation-list {
    text-align: right;
    min-width: max-content;
  }
</style>
