---
import DateDisplay from "$comp/DateDisplay.astro";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { published, updated, special, featured } = post.data;
const topics = await getEntries(post.data.topics);
---

<small class="post-meta">
  {special && <span>&#128064;Special</span>}
  {featured && <span>&#10024;Featured</span>}
  <span>Published on <DateDisplay date={published} /></span>
  {
    updated && (
      <span>
        Updated on <DateDisplay date={updated} />
      </span>
    )
  }
  <span
    >Topics:
    {topics.map((topic) => <a href={`/topics/${topic.id}`}>{topic.id}</a>)}
  </span>
</small>

<style is:global>
  .post-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--space-comp-2);
  }
</style>
