---
import type { CollectionEntry } from "astro:content";
import PostMeta from "./PostMeta.astro";
import { render } from "astro:content";
import { getEntries } from "astro:content";
import SmallPostList from "./SmallPostList.astro";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { title, next: nextRef } = post.data;
const { Content } = await render(post);

const next = nextRef && (await getEntries(nextRef));
---

<header>
  <h1>{title}</h1>
  <PostMeta {post} />
</header>
<Content />
{
  next && (
    <section>
      <h4>Next up:</h4>
      <SmallPostList posts={next} />
    </section>
  )
}
