---
import type { CollectionEntry } from "astro:content";
import PostMeta from "./PostMeta.astro";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { title } = post.data;
const { Content } = await render(post);
---

<header>
  <h1>{title}</h1>
  <PostMeta {post} />
</header>
<Content />
