---
import BaseHead from "$part/BaseHead.astro";
import Style from "$part/Style.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <slot name="head" />
    <Style />
  </head>
  <body>
    <slot />
  </body>
</html>
