---
import Header from "$part/Header.astro";
import type { ComponentProps } from "astro/types";
import Base from "./Base.astro";
import Navigation from "$part/Navigation.astro";

type Props = ComponentProps<typeof Base>;

const {name, description, ...attrs} = Astro.props;
---

<Base class="page" {name} {description}>
  <Header />
  <div class="page-split">
    <Navigation />
    <main {...attrs}>
      <slot />
    </main>
  </div>
  <footer></footer>
</Base>

<style is:global>
  .page {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 20vh;
  }
  .page-split {
    margin-top: var(--space-section-3);

    display: flex;
    flex-direction: row;
    gap: var(--space-section-3);
  }
  .page-split main {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: var(--space-section-1);
  }
  @media screen and (max-width: 768px) {
    .page-split {
      flex-direction: column;
    }
  }
</style>
