@layer base {
  html,
  body {
    height: 100%;
  }
  html {
    background: var(--col-bg);
    background: var(--page-bg);
    color: var(--col-fg);
  }

  a {
    color: var(--col-link-fg);
    display: inline-block;
  }

  a:visited {
    color: var(--col-link-fg-visit);
  }

  a[href]:hover,
  a[href]:focus-visible {
    background-color: var(--col-link-bg);
  }

  a:not([href]) {
    cursor: not-allowed;
    text-decoration: line-through;
  }

  small {
    color: var(--col-fg-fade-2);
  }

  i {
    font-style: normal;
    color: var(--col-fg-fade-3);
  }

  code {
    background-color: var(--col-bg-fade-1);
  }
}
