@layer base {
  html,
  body {
    height: 100%;
  }
  html {
    background-color: var(--col-bg);
    background-image: var(--page-bg);
    background-attachment: fixed;
    color: var(--col-fg);
  }

  a {
    color: var(--col-link-fg);
    display: inline-block;
    text-decoration-style: dotted;
  }

  a:visited {
    color: var(--col-link-fg-visit);
  }

  a[href]:hover,
  a[href]:focus-visible {
    background-color: var(--col-link-bg);
  }

  a[href][aria-current=page] {
    text-decoration-style: solid;
  }

  a:not([href]) {
    cursor: not-allowed;
    text-decoration: line-through;
  }

  small {
    color: var(--col-fg-fade-2);
  }

  code {
    background-color: var(--col-bg-fade-2);
  }

  summary {
    user-select: none;
    cursor: pointer;
  }

  details[open] summary {
    font-weight: bold;
  }
}
