@layer composition {
  .stack-spaced {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .stack-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.gap {
      gap: var(--space-section-1);
    }
    &.center {
      justify-content: center;
    }
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-section-2);
  }

  .compress {
    width: 60%;
    margin: 0 auto;
  }
}
