@layer component {
  .refer {
    display: flex;
    flex-direction: row;
    gap: var(--space-comp-1);

    padding: var(--space-comp-1);

    line-height: 1;
    color: var(--col-fg-fade-1);
    font-weight: bold;
    text-decoration: none;
  }
  .refer svg {
    fill: currentColor;
    width: 1em;
    height: auto;
  }
  .refer:hover {
    color: var(--col-fg-active);
  }

  .page-index-tag,
  .header-tag {
    color: transparent;
    background-color: var(--col-fg);
    background-image: linear-gradient(
      45deg,
      var(--col-brand-1),
      var(--col-brand-2)
    );
    background-clip: text;
  }

  .navbutton {
    text-decoration: none;
    font-weight: bold;
    color: var(--col-fg-fade-1);
    background: transparent;
  }
  .navbutton:hover {
    color: var(--col-fg-active);
  }
}
