@layer font {
  body {
    font-family: system-ui, sans-serif;
    line-height: 1.8;
    font-size: 1.075rem;
  }

  code,
  samp,
  kbd {
    font-family:
      ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
      "DejaVu Sans Mono", monospace;
  }

  h6 {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
  }

  h5 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4;
  }

  h2,
  h3 {
    line-height: 1.2;
  }

  h3 {
    font-size: 1.7rem;
    font-weight: 400;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h1 {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1;
  }
}
