html {
  font-size: 100%;
}

body {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

h3 {
  font-size: 27px;
}

h2 {
  font-size: 33px;
}

h1 {
  font-size: 39px;
}
