@layer layout {
  .header-global {
    display: flex;
    flex-direction: row;
  }

  .header-global-right {
    display: flex;
    flex-direction: row-reverse;
  }

  .header-global-title,
  .nav-global,
  .header-global-right,
  .links-global,
  .nav-global a {
    height: 100%;
  }

  .nav-global,
  .links-global {
    display: flex;
    flex-direction: row;
  }

  .nav-global a,
  .header-global-title {
    align-content: center;
  }

  .links-global {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
  }

  .page,
  .content-page {
    display: flex;
    flex-direction: column;
  }

  .page {
    gap: var(--space-3);
  }

  .content-page {
    max-width: 40rem;
    margin: 0 auto;

    gap: var(--space-4);
  }
}
