@layer theme {
  :root[data-theme="dark"] {
    color-scheme: dark;

    --col-fg: hsl(240, 3%, 78%);
    --col-fg-active: #ffffff;
    --col-fg-fade-1: #c0c0c2;
    --col-fg-fade-2: #a2a2a4;
    --col-fg-fade-3: #48484a;
    --col-bg: #0b0b0d;
    --col-bg-fade-1: #151517;
    --col-bg-fade-2: #29292b;

    --col-link-fg: #7192ff;
    --col-link-fg-visit: #7cb1d2;
    --col-link-bg: #24233a;
    --col-link-shadow: #dedee0b3;

    --col-brand-1: #8ec73d;
    --col-brand-2: #1d93e7;

    --radius-1: 4px;
    --space-section-1: 0.9rem;
    --space-section-2: 1.2rem;
    --space-section-3: 1.5rem;
    --space-comp-1: 0.4rem;
    --space-comp-2: 0.7rem;
    --space-comp-3: 1rem;
    --space-comp-4: 1.3rem;

    --page-bg: radial-gradient(var(--col-bg-fade-1) 0%, var(--col-bg) 100%);
  }

  :root[data-theme="light"] {
    color-scheme: light;

    --col-fg: #0b0b0d;
    --col-fg-active: #000;
    --col-fg-fade-1: #29292b;
    --col-fg-fade-2: #474749;
    --col-fg-fade-3: #a1a1a3;
    --col-bg: #fff;
    --col-bg-fade-1: #d3d3d5;
    --col-bg-fade-2: #b4b4b6;

    --col-link-fg: #1a4cff;
    --col-link-fg-visit: #0f2dd2;
    --col-link-bg: #b9d2e7;
    --col-link-shadow: transparent;

    --col-brand-1: #56da2b;
    --col-brand-2: #0a46fa;

    --radius-1: 4px;
    --space-section-1: 0.9rem;
    --space-section-2: 1.2rem;
    --space-section-3: 1.5rem;
    --space-comp-1: 0.4rem;
    --space-comp-2: 0.7rem;
    --space-comp-3: 1rem;
    --space-comp-4: 1.3rem;

    --page-bg: radial-gradient(var(--col-bg) 50%, var(--col-bg-fade-1) 100%);
  }
}
