@layer theme {
  :root {
    --round-1: 4px;
    --round-2: 8px;

    --space-1: 0.4rem;
    --space-2: 0.7rem;
    --space-3: 1rem;
    --space-4: 1.3rem;
    --space-p: 1.6rem;
  }

  :root[data-theme="dark"] {
    color-scheme: dark;

    --fg-1: oklch(84% 0.02 255);
    --fg-2: oklch(70% 0.03 255);
    --fg-3: oklch(56% 0.04 255);

    --bg-4: oklch(46% 0.06 255);
    --bg-3: oklch(30% 0.04 255);
    --bg-2: oklch(20% 0.03 255);
    --bg-1: oklch(14% 0.02 255);

    --darkest: var(--bg-2);
    --lightest: var(--fg-1);
    --darkish: var(--bg-3);
    --lightish: var(--fg-3);

    --brand-green: oklch(70.7% 0.238 131.355);
    --brand-blue: oklch(70.7% 0.238 264.51);

    --link: oklch(60% 0.3 260);
    --link-visit: oklch(40% 0.2 255);
    --link-box: oklch(24% 0.1 245);

    --canvas: radial-gradient(var(--bg-2), var(--bg-1));
  }

  :root[data-theme="light"] {
    color-scheme: light;

    --fg-1: oklch(16% 0.04 255);
    --fg-2: oklch(30% 0.08 255);
    --fg-3: oklch(44% 0.12 255);

    --bg-4: oklch(76% 0.12 255);
    --bg-3: oklch(86% 0.08 255);
    --bg-2: oklch(91% 0.06 255);
    --bg-1: oklch(96% 0.04 255);

    --darkest: var(--fg-2);
    --lightest: var(--bg-1);
    --darkish: var(--bg-3);
    --lightish: var(--bg-2);

    --brand-green: oklch(50.7% 0.238 131.355);
    --brand-blue: oklch(50.7% 0.238 264.51);

    --link: oklch(40% 0.3 260);
    --link-visit: oklch(60% 0.2 255);
    --link-box: oklch(86% 0.1 245);

    --canvas: unset;
  }
}
