---
import NavLink from "./NavLink.astro";
---

<nav>
  <ul role="list" class="stack-row center">
    <NavLink class="section-link" href="/">Home</NavLink>
    <NavLink class="section-link" href="/articles">Articles</NavLink>
    <li><a class="section-link">Projects</a></li>
    <li><a class="section-link">Blog</a></li>
    <li><a class="section-link">Art</a></li>
  </ul>
</nav>
