---
import DateDisplay from "$comp/DateDisplay.astro";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import TagList from "./TagList.astro";

interface Props {
  post: CollectionEntry<"post">;
  showFeatured?: boolean;
}

const { post, showFeatured = false } = Astro.props;
const { published, updated, featured, tags: tagsRef } = post.data;

const tags = tagsRef && (await getEntries(tagsRef));
---

<small class="post-meta-dates">
  {
    published ? (
      <span>
        Published on <DateDisplay date={published} />
      </span>
    ) : (
      <span>Not published</span>
    )
  }
  {
    updated && (
      <span>
        Updated on <DateDisplay date={updated} />
      </span>
    )
  }
</small>
<small class="post-meta-other">
  {showFeatured && featured && <i>&#10024;Featured</i>}
  {tags ? <TagList {tags} /> : <span>No tags</span>}
</small>

<style is:global>
  .post-meta-dates,
  .post-meta-other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .post-meta-dates {
    column-gap: var(--space-comp-2);
  }
  .post-meta-other {
    column-gap: var(--space-comp-1);
  }
</style>
