---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  icon?: string;
}

const { icon, target = "_blank", ...attrs } = Astro.props;
---

<a class="refer" target={target} {...attrs}>
  {icon && <Icon name={icon} />}
  <b><slot /></b>
</a>

<style is:global>
  .refer {
    display: flex;
    line-height: 1;
    gap: var(--space-comp-1);
    padding: var(--space-comp-1);

    color: var(--col-fg);
    text-decoration: none;
  }
</style>
