---
import type { CollectionEntry } from "astro:content";

interface Props {
  tags: CollectionEntry<"tag">[];
}

const { tags } = Astro.props;
---

<ul class="tag-list" role="list">
  {
    tags.map((tag) => (
      <li>
        <a href={`/tags/${tag.id}`}>{`#${tag.id}`}</a>
      </li>
    ))
  }
</ul>

<style is:global>
  .tag-list {
    display: contents;
  }
</style>
