---
import Home from "@layouts/Home.astro";
---

<Home>
  <h3>404: Not found</h3>
  <p>This means the URL you navigated to does not exist.</p>
  <p>If you expected something to be here, send me a message.</p>
  <a href="/">Back home ></a>
</Home>
