---
import { getCollection, render } from "astro:content";
import Layout from "$layout/Page.astro";
import { rootfulId } from "$lib";

export async function getStaticPaths() {
  const pages = await getCollection("page");
  return pages.map((page) => ({
    params: { page: rootfulId(page) },
    props: { page },
  }));
}

const { page } = Astro.props;
const { title, description } = page.data;
const { Content } = await render(page);
---

<Layout {title} {description}>
  <main>
    <h1>{title}</h1>
    <Content />
  </main>
</Layout>
