---
import HighlightLinks from "@components/HighlightLinks.astro";
import Home from "@layouts/Home.astro";
import {Content as AboutWebsite} from '@content/about-website.md';
---

<Home>
  <p>Welcome to my personal website!</p>
  <h2>Highlights</h2>
  <HighlightLinks />
  <AboutWebsite />
</Home>
