---
import Base from "@components/Base.astro";
import LinkCard from "@components/LinkCard.astro";
---

<Base>
  <h1>thegates.dev</h1>
  <h2>thegates.dev</h2>
  <h3>thegates.dev</h3>
  <h4>thegates.dev</h4>
  <h5>thegates.dev</h5>
  <h6>thegates.dev</h6>
  <p>Font weight and style are effective tools for creating a visual hierarchy and emphasizing key content.</p>
  <LinkCard href="test" value="Link Card" />
</Base>
