---
import HighlightLinks from "@parts/HighlightLinks.astro";
import Home from "@layouts/Home.astro";
import {Content as AboutWebsite} from '@content/about-website.md';
---

<Home>
  <AboutWebsite />
  <h2>Highlights</h2>
  <HighlightLinks />
</Home>
