---
import Base from "@layouts/Base.astro";
import Refer from "@parts/Refer.astro";
---

<Base>
  <main class="stack-spaced">
    <nav>
      <ul role="list" class="stack-row-center">
        <li>
          <Refer
            href="https://github.com/thegatesdev"
            icon="simple-icons:github"
          >
            GitHub
          </Refer>
        </li>
        <li>
          <Refer
            href="https://www.youtube.com/@thegatesdev"
            icon="simple-icons:youtube"
          >
            YouTube
          </Refer>
        </li>
      </ul>
    </nav>
    <header>
      <h1 class="title">Tim</h1>
      <p class="subtitle">@<wbr />the<wbr />gates<wbr />dev</p>
      <q>In programming, fun and frustration are one</q>
      <nav></nav>
    </header>
    <footer>
      <p>Built with <a href="https://astro.build">Astro</a>!</p>
      <a href="https://github.com/thegatesdev/thegates.dev">View the source</a>
    </footer>
  </main>
</Base>
