---
import Base from "@components/Base.astro";
import HomeHeader from "@components/HomeHeader.astro";
---

<Base>
  <div class="index">
    <HomeHeader />
  </div>
</Base>

<style is:global>
  .index {
    width: 80%;
    margin: 0 auto;
  }
</style>
