---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="application-name" content="thegates.dev">
<meta name="author" content="thegatesdev">
