---
import BaseHead from "@components/BaseHead.astro";
import Style from "./Style.astro";
import ThemeStore from "./ThemeStore.astro";
---

<html lang="en">
  <head>
    <BaseHead title="thegates.dev" />
    <Style />
    <slot name="head" />
  </head>
  <body>
    <slot />
    <ThemeStore />
  </body>
</html>

<style is:global>
  body {
    background-color: var(--col-bg);
    color: var(--col-fg);
    padding: var(--pad-page) var(--pad-page-side);
  }
</style>
