---
import SiteActions from "@components/SiteActions.astro";
---

<div class="header">
  <h1>the&#8203;gates&#8203;dev</h1>
  <SiteActions />
</div>

<style is:global>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
</style>
