---
import LinkCard from "./LinkCard.astro";
---

<ul class="highlight-links" role="list">
  <li><LinkCard href="/about">About me</LinkCard></li>
  <li><LinkCard><strike>Software projects</strike> <b>WIP</b></LinkCard></li>
  <li><LinkCard><strike>Art gallery</strike> <b>WIP</b></LinkCard></li>
</ul>

<style is:global>
  .highlight-links {
    display: flex;
    flex-direction: column;
    gap: var(--space-comp-2);
  }
</style>
