<nav class="site-nav">
  <ol role="list">
    <li><a href="https://example.com">Home</a></li>
    <li><a href="https://example.com">Home</a></li>
    <li><a href="https://example.com">Home</a></li>
    <li><a href="https://example.com">Home</a></li>
  </ol>
</nav>

<style is:global>
  .site-nav {
    flex: 1;

    a {
      width: 100%;
    }
  }
</style>
