---
import Home from "@layouts/Home.astro";
import { getCollection } from "astro:content";
import Card from "./_Card.astro";

const projects = await getCollection("project");
---

<Home
  title="Projects | thegates.dev"
  description="View a list of projects by thegatesdev"
>
  <h1 class="title">Projects</h1>
  <p>These are just the highlights! For more, check out my GitHub profile.</p>
  {projects.map((project) => <Card {...project} />)}
</Home>
