---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const attrs = Astro.props;
---

<li>
  <a class="refer" {...attrs}>
    <slot name="icon" />
    <slot />
  </a>
</li>

<style is:global>
  .refer {
    display: flex;
    flex-direction: row;
    gap: var(--space-comp-1);

    padding: var(--space-comp-1);

    line-height: 1;
    color: var(--col-fg);
    font-weight: bold;
    text-decoration: none;
  }
  .refer svg {
    fill: currentColor;
    width: 1em;
    height: auto;
  }
</style>
