---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const attrs = Astro.props;
---

<li>
  <a class="refer" {...attrs}>
    <slot name="icon" />
    <slot />
  </a>
</li>
