---
import type { HTMLAttributes } from "astro/types";
import BaseHead from "$mod/BaseHead.astro";
import Style from "$mod/Style.astro";

interface Props extends HTMLAttributes<"body"> {
  name: string;
  description: string;
}

const { name, description, ...attrs } = Astro.props;
const title = `${name} | thegatesdev`;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <slot name="head" />
    <Style />
  </head>
  <body {...attrs}>
    <slot />
  </body>
</html>
