---
import type { HTMLAttributes } from "astro/types";
import HeadBase from "$mod/HeadBase.astro";
import Style from "$mod/Style.astro";

interface Props extends HTMLAttributes<"body"> {
  title: string;
  description: string;
}

const { title, description, ...attrs } = Astro.props;
const globalTitle = `${title} | thegatesdev`;
---

<html lang="en">
  <head>
    <HeadBase {globalTitle} {description} />
    <slot name="head" />
    <Style />
  </head>
  <body {...attrs}>
    <slot />
  </body>
</html>
