---
import BaseHead from "@parts/BaseHead.astro";
import Style from "@parts/Style.astro";
import ThemeStore from "@parts/ThemeStore.astro";
---

<html lang="en">
  <head>
    <BaseHead title="thegates.dev" />
    <slot name="head" />
    <Style />
    <ThemeStore />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html, body {
    height: 100%;
  }
  html {
    background-color: var(--col-bg);
    color: var(--col-fg);
  }
  body {
    display: flex;
    flex-direction: column;
  }
</style>
