---
import BaseHead from "@parts/BaseHead.astro";
import Style from "@parts/Style.astro";
import ThemeStore from "@parts/ThemeStore.astro";
---

<html lang="en">
  <head>
    <BaseHead title="thegates.dev" />
    <slot name="head" />
    <Style />
    <ThemeStore />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    height: 100%;

    background-color: var(--col-bg);
    color: var(--col-fg);
  }
  body {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1400px) {
    body {
      width: 80%;
    }
  }
  @media screen and (max-width: 800px) {
    body {
      width: 98%;
    }
  }
</style>
