---
import BaseHead from "@components/BaseHead.astro";
import Style from "@components/Style.astro";
import ThemeStore from "@components/ThemeStore.astro";
---

<html lang="en">
  <head>
    <BaseHead title="thegates.dev" />
    <slot name="head" />
    <Style />
    <ThemeStore />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    height: 100%;

    background-color: var(--col-bg);
    color: var(--col-fg);
  }
  body {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
</style>
