---
import Navigation from "@parts/Navigation.astro";
import Base from "./Base.astro";
import type { ComponentProps } from "astro/types";

type Props = ComponentProps<typeof Base>;
const props = Astro.props;
---

<Base {...props}>
  <Navigation />
  <main class="stack compress scroll-below">
    <slot />
  </main>
</Base>
